body{
    background-color: aqua;
}
.f1-box{
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif ;
    height: 10px; font-size: 20px;
    text-align: left;
    width: 50%;
    
}
